.header {
    text-align: center;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.table thead tr {
    border-top: 3px solid #716561;
    border-bottom: 3px solid #716561;
}

.table thead th {
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.table tbody tr {
    border-bottom: 1px solid #716561;
}

.table tbody td {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}